<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9a81e8">  <td>19/04/13 21:34:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead.cLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.CreateLead@42dafa95]">cLead</td> 
  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>19/04/13 21:34:35</td>   <td>13792</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead.cLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.CreateLead@42dafa95]">cLead</td> 
  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>19/04/13 21:34:49</td>   <td>27528</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead.cLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.CreateLead@42dafa95]">cLead</td> 
  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>19/04/13 21:35:02</td>   <td>41358</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead.cLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.CreateLead@42dafa95]">cLead</td> 
  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>19/04/13 21:35:51</td>   <td>89983</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteLead.delLead(java.lang.String)[pri:0, instance:testcases.DeleteLead@402a079c]">delLead</td> 
  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>19/04/13 21:36:10</td>   <td>108667</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteLead.delLead(java.lang.String)[pri:0, instance:testcases.DeleteLead@402a079c]">delLead</td> 
  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>19/04/13 21:35:16</td>   <td>54800</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DuplicateLead.dupLead(java.lang.String)[pri:0, instance:testcases.DuplicateLead@6500df86]">dupLead</td> 
  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>19/04/13 21:35:33</td>   <td>72493</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DuplicateLead.dupLead(java.lang.String)[pri:0, instance:testcases.DuplicateLead@6500df86]">dupLead</td> 
  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/04/13 21:34:13</td>   <td>-7610</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectSpecificMethod.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.CreateLead@42dafa95]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/04/13 21:34:28</td>   <td>6874</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectSpecificMethod.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.CreateLead@42dafa95]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/04/13 21:34:41</td>   <td>20350</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectSpecificMethod.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.CreateLead@42dafa95]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/04/13 21:34:55</td>   <td>34423</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectSpecificMethod.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.CreateLead@42dafa95]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/04/13 21:35:09</td>   <td>47906</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectSpecificMethod.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.DuplicateLead@6500df86]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/04/13 21:35:26</td>   <td>65372</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectSpecificMethod.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.DuplicateLead@6500df86]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/04/13 21:35:44</td>   <td>82999</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectSpecificMethod.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.DeleteLead@402a079c]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/04/13 21:36:02</td>   <td>101071</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectSpecificMethod.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.DeleteLead@402a079c]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/04/13 21:34:26</td>   <td>4774</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectSpecificMethod.logout()[pri:0, instance:testcases.CreateLead@42dafa95]">&lt;&lt;logout</td> 
<td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/04/13 21:34:39</td>   <td>18174</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectSpecificMethod.logout()[pri:0, instance:testcases.CreateLead@42dafa95]">&lt;&lt;logout</td> 
<td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/04/13 21:34:53</td>   <td>32031</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectSpecificMethod.logout()[pri:0, instance:testcases.CreateLead@42dafa95]">&lt;&lt;logout</td> 
<td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/04/13 21:35:07</td>   <td>45774</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectSpecificMethod.logout()[pri:0, instance:testcases.CreateLead@42dafa95]">&lt;&lt;logout</td> 
<td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/04/13 21:35:24</td>   <td>63273</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectSpecificMethod.logout()[pri:0, instance:testcases.DuplicateLead@6500df86]">&lt;&lt;logout</td> 
<td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/04/13 21:35:42</td>   <td>80842</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectSpecificMethod.logout()[pri:0, instance:testcases.DuplicateLead@6500df86]">&lt;&lt;logout</td> 
<td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/04/13 21:36:00</td>   <td>98960</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectSpecificMethod.logout()[pri:0, instance:testcases.DeleteLead@402a079c]">&lt;&lt;logout</td> 
<td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/04/13 21:36:20</td>   <td>119127</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectSpecificMethod.logout()[pri:0, instance:testcases.DeleteLead@402a079c]">&lt;&lt;logout</td> 
<td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>19/04/13 21:34:13</td>   <td>-8174</td> <td>&nbsp;</td><td title="&gt;&gt;CreateLead.setData()[pri:0, instance:testcases.CreateLead@42dafa95]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>19/04/13 21:34:13</td>   <td>-8173</td> <td>&nbsp;</td><td title="&gt;&gt;DeleteLead.setData()[pri:0, instance:testcases.DeleteLead@402a079c]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>19/04/13 21:34:13</td>   <td>-8173</td> <td>&nbsp;</td><td title="&gt;&gt;DuplicateLead.setData()[pri:0, instance:testcases.DuplicateLead@6500df86]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
</table>
