<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9a81e8">  <td>19/04/13 21:34:13</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;CreateLead.setData()[pri:0, instance:testcases.CreateLead@42dafa95]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>19/04/13 21:34:13</td>   <td>1</td> <td>&nbsp;</td><td title="&gt;&gt;DeleteLead.setData()[pri:0, instance:testcases.DeleteLead@402a079c]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>19/04/13 21:34:13</td>   <td>1</td> <td>&nbsp;</td><td title="&gt;&gt;DuplicateLead.setData()[pri:0, instance:testcases.DuplicateLead@6500df86]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/04/13 21:34:13</td>   <td>564</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectSpecificMethod.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.CreateLead@42dafa95]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>19/04/13 21:34:21</td>   <td>8174</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead.cLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.CreateLead@42dafa95]">cLead</td> 
  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/04/13 21:34:26</td>   <td>12948</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectSpecificMethod.logout()[pri:0, instance:testcases.CreateLead@42dafa95]">&lt;&lt;logout</td> 
<td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/04/13 21:34:28</td>   <td>15048</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectSpecificMethod.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.CreateLead@42dafa95]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>19/04/13 21:34:35</td>   <td>21966</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead.cLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.CreateLead@42dafa95]">cLead</td> 
  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/04/13 21:34:39</td>   <td>26348</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectSpecificMethod.logout()[pri:0, instance:testcases.CreateLead@42dafa95]">&lt;&lt;logout</td> 
<td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/04/13 21:34:41</td>   <td>28524</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectSpecificMethod.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.CreateLead@42dafa95]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>19/04/13 21:34:49</td>   <td>35702</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead.cLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.CreateLead@42dafa95]">cLead</td> 
  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/04/13 21:34:53</td>   <td>40205</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectSpecificMethod.logout()[pri:0, instance:testcases.CreateLead@42dafa95]">&lt;&lt;logout</td> 
<td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/04/13 21:34:55</td>   <td>42597</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectSpecificMethod.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.CreateLead@42dafa95]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>19/04/13 21:35:02</td>   <td>49532</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead.cLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.CreateLead@42dafa95]">cLead</td> 
  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/04/13 21:35:07</td>   <td>53948</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectSpecificMethod.logout()[pri:0, instance:testcases.CreateLead@42dafa95]">&lt;&lt;logout</td> 
<td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/04/13 21:35:09</td>   <td>56080</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectSpecificMethod.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.DuplicateLead@6500df86]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>19/04/13 21:35:16</td>   <td>62974</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DuplicateLead.dupLead(java.lang.String)[pri:0, instance:testcases.DuplicateLead@6500df86]">dupLead</td> 
  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/04/13 21:35:24</td>   <td>71447</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectSpecificMethod.logout()[pri:0, instance:testcases.DuplicateLead@6500df86]">&lt;&lt;logout</td> 
<td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/04/13 21:35:26</td>   <td>73546</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectSpecificMethod.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.DuplicateLead@6500df86]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>19/04/13 21:35:33</td>   <td>80667</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DuplicateLead.dupLead(java.lang.String)[pri:0, instance:testcases.DuplicateLead@6500df86]">dupLead</td> 
  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/04/13 21:35:42</td>   <td>89016</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectSpecificMethod.logout()[pri:0, instance:testcases.DuplicateLead@6500df86]">&lt;&lt;logout</td> 
<td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/04/13 21:35:44</td>   <td>91173</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectSpecificMethod.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.DeleteLead@402a079c]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>19/04/13 21:35:51</td>   <td>98157</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteLead.delLead(java.lang.String)[pri:0, instance:testcases.DeleteLead@402a079c]">delLead</td> 
  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/04/13 21:36:00</td>   <td>107134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectSpecificMethod.logout()[pri:0, instance:testcases.DeleteLead@402a079c]">&lt;&lt;logout</td> 
<td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/04/13 21:36:02</td>   <td>109245</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectSpecificMethod.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.DeleteLead@402a079c]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>19/04/13 21:36:10</td>   <td>116841</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteLead.delLead(java.lang.String)[pri:0, instance:testcases.DeleteLead@402a079c]">delLead</td> 
  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/04/13 21:36:20</td>   <td>127301</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectSpecificMethod.logout()[pri:0, instance:testcases.DeleteLead@402a079c]">&lt;&lt;logout</td> 
<td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
</table>
